@import 'tailwindcss';
@import '@fontsource/inter-tight';
@import '@fontsource/poppins';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-body: Poppins, system-ui, sans-serif;
    --font-display: 'Inter Tight', system-ui, sans-serif;

    --color-base: oklch(98% 0.001 29.16);
    --color-base-border: oklch(90% 0.001 29.16);
    --color-base-border-light: oklch(94% 0.001 29.16);
    --color-base-border-dark: oklch(86% 0.001 29.16);

    --color-base-fg: oklch(18% 0.001 29.16);
    --color-base-fg-dark: oklch(14% 0.001 29.16);
    --color-base-fg-light: oklch(22% 0.001 29.16);
    --color-base-fg-muted: oklch(68% 0.001 29.16);

    --color-primary: oklch(48.69% 0.1995 29.16);
    --color-primary-fg: oklch(96.69% 0.02 29.16);

    --default-font-family: var(--font-body);
}

@utility animate-paused {
    animation-play-state: paused;
}

@layer base {
    :root {
        @variant dark {
            --color-base: oklch(2% 0.001 29.16);
            --color-base-border: oklch(10% 0.001 29.16);
            --color-base-border-light: oklch(6% 0.001 29.16);
            --color-base-border-dark: oklch(14% 0.001 29.16);

            --color-base-fg: oklch(90% 0.001 29.16);
            --color-base-fg-dark: oklch(80% 0.001 29.16);
            --color-base-fg-light: oklch(100% 0.001 29.16);
            --color-base-fg-muted: oklch(58% 0.001 29.16);

            --color-primary: oklch(69.21% 0.1997 29.16);
            --color-primary-fg: oklch(18.21% 0.02 29.16);
        }

        background-color: var(--color-base);
        color: var(--color-base-fg);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button {
        font-family: var(--font-display);
        color: var(--color-base-fg-dark);
        @variant dark {
            color: var(--color-base-fg-light);
        }
    }
}
