@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-surface: oklch(99% 0.004 142);
	--color-surface-subtle: oklch(98% 0.006 142);
	--color-surface-emph: oklch(96% 0.01 142);
	--color-surface-border: oklch(94% 0.004 142);

	--color-fg: oklch(33% 0.01 142);
	--color-fg-subtle: oklch(45% 0.01 142);
	--color-fg-emph: oklch(22% 0.01 142);
	--color-fg-muted: oklch(60% 0.01 142);

	--color-base: oklch(96% 0.004 142);
	--color-base-subtle: oklch(94.5% 0.004 142);
	--color-base-emph: oklch(93% 0.01 142);
	--color-base-border: oklch(91% 0.004 142);

	--color-primary: oklch(97% 0.04 142);
	--color-primary-subtle: oklch(95.5% 0.06 142);
	--color-primary-emph: oklch(94% 0.08 142);
	--color-primary-border: oklch(92% 0.06 142);
	--color-primary-fg: oklch(46.6% 0.15 142);

	--font-sans: 'Inter Variable', system-ui, sans-serif;
	--font-display: 'Pixelify Sans Variable', system-ui, sans-serif;
	--font-mono: 'Geist Mono Variable', system-ui, sans-serif;
}

@theme inline {
	--default-font-family: var(--font-sans);
}

@layer base {
	:root {
		@variant dark {
			--color-surface: oklch(17% 0.004 148);
			--color-surface-subtle: oklch(20% 0.006 148);
			--color-surface-emph: oklch(23% 0.01 148);
			--color-surface-border: oklch(25% 0.004 148);

			--color-fg: oklch(82% 0.01 148);
			--color-fg-subtle: oklch(72% 0.01 148);
			--color-fg-emph: oklch(96% 0.01 148);
			--color-fg-muted: oklch(60% 0.01 148);

			--color-base: oklch(23% 0.004 148);
			--color-base-subtle: oklch(25% 0.004 148);
			--color-base-emph: oklch(27% 0.01 148);
			--color-base-border: oklch(29% 0.004 148);

			--color-primary: oklch(24% 0.04 148);
			--color-primary-subtle: oklch(27% 0.06 148);
			--color-primary-emph: oklch(30% 0.08 148);
			--color-primary-border: oklch(30% 0.04 148);
			--color-primary-fg: oklch(63.5% 0.175 148);
		}
	}

	:root {
		font-size: 14px;
		line-height: 1.5;
		color-scheme: light dark;
		color: var(--color-fg);
		background: var(--color-surface);
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@utility absolute-center {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

::view-transition-group(root) {
	--expo-in: linear(
		0 0%,
		0.0085 31.26%,
		0.0167 40.94%,
		0.0289 48.86%,
		0.0471 55.92%,
		0.0717 61.99%,
		0.1038 67.32%,
		0.1443 72.07%,
		0.1989 76.7%,
		0.2659 80.89%,
		0.3465 84.71%,
		0.4419 88.22%,
		0.554 91.48%,
		0.6835 94.51%,
		0.8316 97.34%,
		1 100%
	);
	animation-timing-function: var(--expo-in);
}

::view-transition-new(root) {
	mask: url('../lib/assets/images/view-transition.gif') center / 0 no-repeat;
	animation: scale 1s;
	animation-fill-mode: both;
}

::view-transition-old(root),
[data-theme='dark']::view-transition-old(root) {
	animation: scale 1s;
	animation-fill-mode: both;
}

@keyframes scale {
	0% {
		mask-size: 0;
	}
	30% {
		mask-size: 24vmax;
	}
	80% {
		mask-size: 25vmax;
	}
	90% {
		mask-size: 20vmax;
	}
	100% {
		mask-size: 2000vmax;
	}
}
