@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-surface: oklch(99% 0.004 142);
	--color-surface-subtle: oklch(98% 0.006 142);
	--color-surface-emph: oklch(96% 0.01 142);
	--color-surface-border: oklch(94% 0.004 142);

	--color-fg: oklch(33% 0.01 142);
	--color-fg-subtle: oklch(45% 0.01 142);
	--color-fg-emph: oklch(22% 0.01 142);
	--color-fg-muted: oklch(60% 0.01 142);

	--color-base: oklch(96% 0.004 142);
	--color-base-subtle: oklch(94.5% 0.004 142);
	--color-base-emph: oklch(93% 0.01 142);
	--color-base-border: oklch(91% 0.004 142);

	--color-primary: oklch(97% 0.04 142);
	--color-primary-subtle: oklch(95.5% 0.06 142);
	--color-primary-emph: oklch(94% 0.08 142);
	--color-primary-border: oklch(92% 0.06 142);
	--color-primary-fg: oklch(46.6% 0.15 142);

	--font-sans: 'Inter Variable', system-ui, sans-serif;
	--font-display: 'Pixelify Sans Variable', system-ui, sans-serif;
	--font-mono: 'Geist Mono Variable', system-ui, sans-serif;
}

@theme inline {
	--default-font-family: var(--font-sans);
}

@layer base {
	:root {
		@variant dark {
			--color-surface: oklch(17% 0.004 148);
			--color-surface-subtle: oklch(20% 0.006 148);
			--color-surface-emph: oklch(23% 0.01 148);
			--color-surface-border: oklch(25% 0.004 148);

			--color-fg: oklch(82% 0.01 148);
			--color-fg-subtle: oklch(72% 0.01 148);
			--color-fg-emph: oklch(96% 0.01 148);
			--color-fg-muted: oklch(60% 0.01 148);

			--color-base: oklch(23% 0.004 148);
			--color-base-subtle: oklch(25% 0.004 148);
			--color-base-emph: oklch(27% 0.01 148);
			--color-base-border: oklch(29% 0.004 148);

			--color-primary: oklch(24% 0.04 148);
			--color-primary-subtle: oklch(27% 0.06 148);
			--color-primary-emph: oklch(30% 0.08 148);
			--color-primary-border: oklch(30% 0.04 148);
			--color-primary-fg: oklch(63.5% 0.175 148);
		}
	}

	:root {
		font-size: 14px;
		line-height: 1.5;
		color-scheme: light dark;
		color: var(--color-fg);
		background: var(--color-surface);
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		overflow: auto;
	}

	::-webkit-scrollbar {
		width: --spacing(2);
		height: --spacing(2);
	}

	::-webkit-scrollbar-track {
		background-color: var(--color-surface);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-fg-emph);
		border: 2px solid var(--color-surface);
		border-radius: calc(1px * infinity);
	}
}

@utility absolute-center {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

::view-transition-group(root) {
	animation-timing-function: ease-in;
}

::view-transition-new(root) {
	mask: url('../lib/assets/images/view-transition.gif') center / 0 no-repeat;
	animation: theme-switch 2s;
	animation-fill-mode: both;
}

::view-transition-old(root),
[data-theme='dark']::view-transition-old(root) {
	animation: theme-switch 2s;
	animation-fill-mode: both;
}

@keyframes theme-switch {
	0% {
		mask-size: 0;
		mask-position: 150% 40%;
	}
	30% {
		mask-size: 30vh;
		mask-position: 48% 20%;
	}
	60% {
		mask-size: 30vh;
		mask-position: 50% 60%;
	}
	80% {
		mask-size: 30vh;
		mask-position: 52% 60%;
	}
	100% {
		mask-position: 50% 75%;
		mask-size: 800vmin;
	}
}

@utility prose {
	--tw-prose-body: var(--color-fg);
	--tw-prose-headings: var(--color-fg-emph);
	--tw-prose-lead: var(--color-pink-700);
	--tw-prose-links: var(--color-info);
	--tw-prose-bold: var(--color-fg);
	--tw-prose-counters: var(--color-fg-muted);
	--tw-prose-bullets: var(--color-base-border);
	--tw-prose-hr: var(--color-surface-border);
	--tw-prose-quotes: var(--color-fg-muted);
	--tw-prose-quote-borders: var(--color-surface-border);
	--tw-prose-captions: var(--color-pink-700);
	--tw-prose-code: var(--color-fg);
	--tw-prose-pre-code: var(--color-fg);
	--tw-prose-pre-bg: var(--color-base-weak);
	--tw-prose-th-borders: var(--color-surface-border);
	--tw-prose-td-borders: var(--color-surface-border);
	--tw-prose-quote-borders: var(--color-surface-border);

	--tw-prose-invert-body: var(--tw-prose-body);
	--tw-prose-invert-headings: var(--tw-prose-headings);
	--tw-prose-invert-lead: var(--tw-prose-lead);
	--tw-prose-invert-links: var(--tw-prose-links);
	--tw-prose-invert-bold: var(--tw-prose-bold);
	--tw-prose-invert-counters: var(--tw-prose-counters);
	--tw-prose-invert-bullets: var(--tw-prose-bullets);
	--tw-prose-invert-hr: var(--tw-prose-hr);
	--tw-prose-invert-quotes: var(--tw-prose-quotes);
	--tw-prose-invert-quote-borders: var(--tw-prose-quote-borders);
	--tw-prose-invert-captions: var(--tw-prose-captions);
	--tw-prose-invert-code: var(--tw-prose-code);
	--tw-prose-invert-pre-code: var(--tw-prose-pre-code);
	--tw-prose-invert-pre-bg: var(--tw-prose-pre-bg);
	--tw-prose-invert-th-borders: var(--tw-prose-th-borders);
	--tw-prose-invert-td-borders: var(--tw-prose-td-borders);

	line-height: inherit;
	font-size: inherit;
	max-width: none;
}

.prose {
	:where(& :is(h1, h2, h3, h4)) {
		font-family: var(--font-display);
	}

	& th {
		font-family: var(--font-display);
		color: var(--color-fg-muted);
	}

	:where(& img) {
		max-height: 42rem;
		/* border: 1px solid var(--color-base-border); */
		border-radius: var(--radius-xl);
		@apply shadow;
	}

	:where(& input[type='checkbox']) {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 1em;
		height: 1em;
		border-radius: var(--radius-xs);
		background-color: var(--color-base);

		:where(&:checked) {
			background-color: var(--color-primary-emph);

			&::after {
				content: '';
				position: absolute;
				left: 4px;
				top: 0px;
				width: 6px;
				height: 12px;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
				border-color: var(--color-primary-fg);
				border-style: solid;
			}
		}
	}
}
