@import 'tailwindcss';

@import './lib/stylesheets/c-button.css' layer(components);
@import './lib/stylesheets/c-link.css' layer(components);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-display: 'Inconsolata Variable', monospaced;
    --default-mono-font-family: 'Inconsolata Variable', monospaced;
    --default-font-family: 'Inconsolata Variable', monospaced;

    --color-base: oklch(73.8% 0 137.33);
    --color-base-strong: oklch(80.8% 0 137.33);
    --color-base-fg: oklch(17.76% 0 137.33);
    --color-base-fg-muted: oklch(50.76% 0 137.33);

    --text-p: 1rem;

    --default-transition-duration: 75ms;
    --default-transition-timing-function: ease-in-out;
    --animate-highlight: highlight 0.2s steps(4);
}

@layer theme {
    :root {
        /*@variant dark {
        }*/
    }
}

@utility animate-paused {
    animation-play-state: paused;
}

@layer base {
    :root {
        font-size: 16px;
        background-color: var(--color-base);
        color: var(--color-base-fg);
    }

    body {
        font-size: var(--text-p);
        line-height: 1;
    }
}

@layer components {
    .c-clickable {
        display: block;
        position: relative;

        &:where(:hover) {
            color: var(--color-base-strong);
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                background-image: repeating-linear-gradient(
                    90deg,
                    var(--color-base-fg) 0 1px,
                    transparent 1px 2px
                );
                /*background-image: repeating-conic-gradient(
                    var(--color-base) 0 25%,
                    transparent 0 100%,
                    var(--color-base) 50% 75%,
                    transparent 0 100%
                );*/
                /*background-size: 2px 2px;
                background-position-x: 0.5px;
                background-position-y: 0.5px;*/
            }
        }
    }
}

@keyframes page-transition {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes highlight {
    0%,
    24% {
        background-color: var(--color-base-fg);
    }
    25%,
    49% {
        background-color: transparent;
    }
    50%,
    74% {
        background-color: var(--color-base-fg);
    }
    75%,
    99% {
        background-color: transparent;
    }
}
