@import 'tailwindcss';

@import './lib/stylesheets/c-button.css' layer(components);
@import './lib/stylesheets/c-link.css' layer(components);

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-display: 'Inconsolata Variable', monospaced;
    --default-mono-font-family: 'Inconsolata Variable', monospaced;
    --default-font-family: 'Inconsolata Variable', monospaced;

    --color-base: oklch(73.8% 0 137.33);
    /* --color-base-border: oklch(66.8% 0 137.33); */
    --color-base-border: oklch(17.76% 0 137.33);
    --color-base-strong: oklch(77.8% 0 137.33);
    --color-base-weak: oklch(69.8% 0 137.33);
    --color-base-fg: oklch(17.76% 0 137.33);
    --color-base-fg-muted: oklch(50.76% 0 137.33);

    --text-p: 1rem;

    --default-transition-duration: 75ms;
    --default-transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    --animate-highlight: highlight 0.2s steps(4);
    --animate-slide-down: slide-down 0.2s steps(4) forwards;
    --animate-slide-down-slow: slide-down 0.3s steps(6) forwards;
}

@layer theme {
    :root {
        /*@variant dark {
        }*/
    }
}

@utility animate-paused {
    animation-play-state: paused;
}

@utility overlay-barcode {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 10;
        background-image: repeating-linear-gradient(
            90deg,
            var(--_barcode, color-mix(in oklch, var(--color-base) 60%, transparent)) 0 1px,
            transparent 1px 2px
        );
    }
}

@layer base {
    :root {
        font-size: 16px;
        background-color: var(--color-base);
        color: var(--color-base-fg);
    }

    body {
        font-size: var(--text-p);
        line-height: 1.5;
    }

    ::-webkit-scrollbar {
        width: --spacing(1);
        height: --spacing(1);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-base-fg-muted);
    }
}

@layer components {
    .c-clickable {
        display: block;
        position: relative;
        isolation: isolate;

        &:where(:hover) {
            color: var(--color-base-strong);
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                background-image: repeating-linear-gradient(
                    90deg,
                    color-mix(in oklch, var(--color-base-fg) 40%, transparent) 0 1px,
                    transparent 1px 2px
                );
            }
        }
    }
}

@keyframes page-transition {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes highlight {
    0%,
    24% {
        background-color: var(--_highlight, var(--color-base-fg));
    }
    25%,
    49% {
        background-color: transparent;
    }
    50%,
    74% {
        background-color: var(--_highlight, var(--color-base-fg));
    }
    75%,
    99% {
        background-color: transparent;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@utility prose {
    --tw-prose-body: var(--color-base-fg);
    --tw-prose-headings: var(--color-base-fg);
    --tw-prose-lead: var(--color-pink-700);
    --tw-prose-links: var(--color-info);
    --tw-prose-bold: var(--color-base-fg);
    --tw-prose-counters: var(--color-base-fg-muted);
    --tw-prose-bullets: var(--color-base-fg-muted);
    --tw-prose-hr: var(--color-base-border);
    --tw-prose-quotes: var(--color-base-fg-muted);
    --tw-prose-quote-borders: var(--color-base-border);
    --tw-prose-captions: var(--color-pink-700);
    --tw-prose-code: var(--color-base-fg);
    --tw-prose-pre-code: var(--color-base-fg);
    --tw-prose-pre-bg: var(--color-base-weak);
    --tw-prose-th-borders: var(--color-base-border);
    --tw-prose-td-borders: var(--color-base-border);
    --tw-prose-quote-borders: var(--color-base-border);

    --tw-prose-invert-body: var(--tw-prose-body);
    --tw-prose-invert-headings: var(--tw-prose-headings);
    --tw-prose-invert-lead: var(--tw-prose-lead);
    --tw-prose-invert-links: var(--tw-prose-links);
    --tw-prose-invert-bold: var(--tw-prose-bold);
    --tw-prose-invert-counters: var(--tw-prose-counters);
    --tw-prose-invert-bullets: var(--tw-prose-bullets);
    --tw-prose-invert-hr: var(--tw-prose-hr);
    --tw-prose-invert-quotes: var(--tw-prose-quotes);
    --tw-prose-invert-quote-borders: var(--tw-prose-quote-borders);
    --tw-prose-invert-captions: var(--tw-prose-captions);
    --tw-prose-invert-code: var(--tw-prose-code);
    --tw-prose-invert-pre-code: var(--tw-prose-pre-code);
    --tw-prose-invert-pre-bg: var(--tw-prose-pre-bg);
    --tw-prose-invert-th-borders: var(--tw-prose-th-borders);
    --tw-prose-invert-td-borders: var(--tw-prose-td-borders);

    line-height: inherit;
    font-size: inherit;
}

@layer base {
    a {
        position: relative;
        &:where(:hover) {
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                background-image: repeating-linear-gradient(
                    90deg,
                    color-mix(in oklch, var(--color-base-fg) 40%, transparent) 0 1px,
                    transparent 1px 2px
                );
            }
        }
    }
}

.prose {
    :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
        border-radius: 0;
        background-color: #002b36;
        color: #839496;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #586e75; /* solarized dark */
    }
}

.hljs {
    background: #002b36; /* base03 */
    color: #839496; /* base0 */
}

.hljs-comment,
.hljs-quote {
    color: #586e75; /* base01 */
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
    color: #859900; /* green */
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
    color: #2aa198; /* cyan */
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #268bd2; /* blue */
}

.hljs-attribute,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-built_in,
.hljs-type {
    color: #b58900; /* yellow */
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
    color: #cb4b16; /* orange */
}

.hljs-deletion {
    color: #dc322f; /* red/magenta */
}

.hljs-formula {
    background: #073642; /* base02 */
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.embla__container {
    touch-action: pan-y pinch-zoom;
}
.embla__slide {
    transform: translate3d(0, 0, 0);
}
.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:disabled {
    color: var(--detail-high-contrast);
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.embla__dot {
    touch-action: manipulation;
}
